@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row generatePokemon">
    <div class="col-md-12">
        <img src="~/images/PokeImages/@(Model.AppearedPokemon.ImgUrl)" class="pokemon" alt="@(Model.AppearedPokemon.Name)" title="It's @(Model.AppearedPokemon.Name)"/>
        <button type="submit" class="pokeball" title="Go Pokeball!">
            <img src="~/images/Backgrounds/Pokeball.png" alt="Pokeball"/>
        </button>
    </div>
</div>