@model IEnumerable<PE3.Pokemon.web.Entities.MyPokemon>

<div class="pokelist">
    @{
        foreach (var pokemon in Model)
        {
            var colors = new string[2];
            colors[0] = pokemon.PokemonTypes.FirstOrDefault().Type.Colour;
            colors[1] = (pokemon.PokemonTypes.Count < 2) ? colors[0] : pokemon.PokemonTypes.ElementAtOrDefault(1).Type.Colour;
            <div class="pokecell" style="background: linear-gradient(90deg, @colors[0] 50%, @colors[1] 50%);">
                <a title="@pokemon.Name" asp-controller="Home" asp-action="Pokemon" asp-route-ndex="@pokemon.NDex">
                    <img src="~/images/PokeImages/@pokemon.ImgUrl" />
                </a>
            </div>
        }
    }
</div>