@model PE3.Pokemon.web.Areas.Admin.Models.PokemonCreateVm
@{ 
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>Pokemon</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasAllolanForm" class="control-label"></label>
                <input asp-for="HasAllolanForm" class="form-control" />
                <span asp-validation-for="HasAllolanForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedImage" class="control-label">Upload an image for this new Pokemon</label>
                <input type="file" asp-for="UploadedImage" class="form-control" />
                <p>
                    <span asp-validation-for="UploadedImage" class="text-danger"></span>
                </p>
            </div>
            <div class="form-group">
                <div class=" col-md-offset-2 col-md-10">
                    <label class="control-label">Select Types for this Pokemon</label>
                    <table class="table">
                        <tr>
                            @{
                                int counter = 0;
                                List<PE3.Pokemon.web.Areas.Admin.Models.AssignedTypeDataVm> Types = ViewBag.Types;

                                foreach (var type in Types)
                                {
                                    if (counter++ % 3 == 0)
                                    {
                                        @:
                                    <tr></tr>
                                }
                                <td class="myCssTd">
                                    <input type="checkbox" name="selectedTypes" value="@type.TypeId" @Html.Raw(type.Assigned ? "checked=\"checked\"" : "") ) />
                                    @type.TypeName
                                </td>
                            }
                            }
                            </tr>
                        </table>
                    </div>
                </div>
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            
</form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>