@model PE3.Pokemon.web.Models.HomeIndexVm
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ul>
    @{
        foreach (var pokemon in Model.AllPokemonWithTypeInfo)
        {
            <li>
                <p><b>@pokemon.Name</b></p>
                @foreach (var type in pokemon.PokemonTypes)
                {
                    <p>Type: @type.Type</p>
                }
            </li>
        }
    }
</ul>