@model PE3.Pokemon.web.Models.HomeIndexVm
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>Hello @Model.Username</div>
<ul>
    @{
        foreach (var pokemon in Model.AllCaughtPokemon)
        {
            <li>
                <p><b>@pokemon.Key.Name</b></p>
                @foreach (var type in pokemon.Key.PokemonTypes)
                {
                    <p>Type: @type.Type.Name</p>
                }
            </li>
        }
    }
</ul>


