@model PE3.Pokemon.web.Models.HomeIndexVm
@{
    ViewData["Title"] = "Index";
}

<h2>Pokédex of @Model.Username</h2>
<p>Hey trainer. Here you can see your progress</p>
<div class="poke-grid">
    <div class="pokeview">
        <h3>Your caught Pokémon: @Model.AllCaughtPokemon.Count() / @Model.AllPokemonWithTypeInfo.Distinct().Count()</h3>
        <partial name="Partial/PokemonListViewPartial" model="Model.AllCaughtPokemon.OrderBy(m => m.NDex)" />
    </div>
    <div class="pokeview">
        <h3>Number of Pokemon: @Model.AllPokemonWithTypeInfo.Distinct().Count()</h3>
        <partial name="Partial/PokemonListViewPartial" model="Model.AllPokemonWithTypeInfo.OrderBy(p => p.NDex).Distinct()" />
    </div>
</div>

