@model PE3.Pokemon.web.Models.HomeIndexVm
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>Hello @Model.Username</div>
<div class="pokeview">
    <div class="pokelist">
        @{ 
            foreach(var pokemon in Model.AllCaughtPokemon)
            {
                <div class="pokecell">
                    <button>@pokemon.Key.Id.ToString().TrimStart(new char[] { '0', '-' }).PadLeft(3,'0')</button>
                </div>
            }
        }
    </div>
    <div class="pokedetail">

    </div>
</div>


