@model PE3.Pokemon.web.Models.ExploreGeneratePokemonVm
@{
    ViewData["Title"] = "GeneratePokemon";
}

<h2>Oh, A Wild @Model.AppearedPokemon.Name Appeared!</h2><br />

<partial name="Partial/PokemonToCatchPartial" model="@Model" />