@model PE3.Pokemon.web.Models.ExploreGotchaVm
@{
    ViewData["Title"] = "Gotcha";
}


<div class="row gotcha">
    <div class="congrats">
        <h2>Gotcha</h2>

        <div>Congratulations <span>@Model.Username!</span></div>

        <p>You caught @Model.CaughtPokemon.Name</p>
    </div>
    <img src="~/images/PokeImages/@(Model.CaughtPokemon.ImgUrl)" />
</div>
