@using PE3.Pokemon.web.Entities
@model PokebagVm

<ul class="dropdown-menu">
    @{
        if (Model.MostCaught.Any())
        {

            foreach (var p in Model.PokemonData)
            {
                <li>@p.Key : @p.Value.ToString()</li>
            }
        }
        else
        {
            <li>No data here</li>
        }
    }
</ul>
