
@{
    ViewData["Title"] = "Success";
}

<div class="row welcome">
    <div class="col-sm-12">
        <h2>Congratulations!</h2><br />

        <p>Your account has bees activated. We've send a comfirmation to your Email Address</p>
        <p>Now go to Professor Oak to start your journey!</p>
        <a asp-controller="Home" asp-action="index">Go to Start<br />
            <img src="~/images/welcome.png" title="Welcome trainer" />
        </a>

        
    </div>
</div>