@model ChatSendFirstMessageVm
@{
    ViewData["Title"] = "SendMessage";
}
<div class="row chat">
    <vc:chat-list></vc:chat-list>
    <div class="col-md-8">
        <h2>Message to @Model.Receiver.Username</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <input asp-for="Text" class="form-control">
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <button type="submit" class="noLayout">Verzenden</button>
        </form>
    </div>
</div>


@section jqueryValidate {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
