body {
    background-image: url("/images/Backgrounds/LoginScreen2.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: ghostwhite;
    padding-bottom: 1em;
    width: 40%;
}

h2 {
    font-family: PokemonGB;
}

.title {
    width: 100%;
}

/****Media screens****/
@media screen and (max-width: 1000px) {
    .container {
        width: 60%;
    }
    
}

@media screen and (max-width: 500px) {
    .container {
        width: 80%;
    }
    h2, h3{
        font-size: 1em;
    }
}


/*Pokeball Button*/
.noLayout {
    border: none;
    background: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-image: -moz-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%), -moz-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
    background-image: -webkit-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%),-webkit-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
}

.box:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 6;
    width: 20%;
    height: 20%;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #AAA, 0 0 0 10px #fff, 0 0 0 16px #3f3f3f;
    margin: 40%;
}

.box:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 94%;
    height: 10%;
    margin: 45% 3%;
    box-shadow: 12px 0 0 #FFF, -12px 0 0 #FFF;
}

.box:hover {
    -webkit-animation: shak .3s infinite;
    -moz-animation: shak .3s infinite;
}

@-webkit-keyframes shak {
    0%,100% {
        -webkit-transform: rotate(-10deg);
    }

    50% {
        -webkit-transform: rotate(10deg);
    }
}

@-moz-keyframes shak {
    0%,100% {
        -moz-transform: rotate(-10deg);
    }

    50% {
        -moz-transform: rotate(10deg);
    }
}

button {
    outline: none;
}

/*New fonts*/
@font-face {
    font-family: PokemonGB;
    src: url('/fonts/Pokemon_GB.ttf');
}

@font-face {
    font-family: PokemonGB-unown;
    src: url('/fonts/Pokemon_Unown_GB.ttf');
}

@font-face {
    font-family: Pokemon-solid;
    src: url('/fonts/Pokemon_Solid.ttf');
}

@font-face {
    font-family: pokemon-fire-red;
    src: url('/fonts/pokemon_fire_red.ttf');
}