/*Algemeen*/
button {
    outline: none;
}

/*Walkaround page*/
header, .walkAround {
    text-align: center;
}

.carousel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.walkAround {
    border-radius: 20px;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.walkAround .form-group {
    display: inline-block;
}

.walkAround .col-md-12 {
    position: fixed; /* of absolute */
    top: 30%;
    left: 25%;
    background-color: ghostwhite;
    border-radius: 35px;
    display: inline-block;
    width: 50%;
    opacity: 0.9;
    padding-bottom: 0.5em;
    font-size: 1.5em;
}

.walkAround h3, .walkAround p, .walkAround form {
    display: inline-block;
}

@media screen and (max-width: 1000px) {
    .walkAround .col-md-12 {
        width: 60%;
        font-size: 1em;
        left: 20%;
    }
}

@media screen and (max-width: 650px) {
    .walkAround .col-md-12 {
        width: 70%;
        left: 15%;
        position: absolute;
    }
}



/*GeneratePokemon page*/
.generatePokemon {
    background-image: url("/images/Backgrounds/catching.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
    margin-top: 1em;
}

.generatePokemon img {
    width: 25em;
    display: block;
    margin: 0 auto;
}

.generatePokemon h2 {
    text-align: center;
}

.pokeball {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
}

.pokeball img {
    width: 7em;
}

.pokeballMove {
    position: absolute;
    top: 250px;
    left: 400px;
}

        /* Pokeball shake Animation */
@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(-10px, 0) rotate(-20deg);
    }

    30% {
        transform: translate(10px, 0) rotate(20deg);
    }

    50% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    60% {
        transform: translate(10px, 0) rotate(10deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.backgroundAfterThrow {
    width: 1140px;
    height: 450px;
}

.backgroundAfterThrow button img {
    animation: shake 1.25s 3;/*de shake animatie wordt opgeroepen en wordt 3 keer uitgevoerd. 
                               Doordat jquery na 2 seconden de CatchProcesser oproept 
                               zal de shake maar 2 keer gebeuren*/
}

@media screen and (max-width: 650px) {/*gsm niet gekanteld*/

    .generatePokemon{
        margin-left: 1%;
    }

    .generatePokemon img{
        width: 10em;
    }

    .pokeball img {
        width: 4em;
    }

    .backgroundAfterThrow {
        width: 610px;
        height: 198px;
        max-width: 100%;
    }

    .pokeballMove {
        position: absolute;
        top: 50px;
        left: 250px;
        transition: position 2s; /*werkt nog niet*/
    }
}

@media screen and (max-width: 370px) {/*gsm gekanteld*/

    .backgroundAfterThrow {
        width: 330px;
    }

    .pokeballMove {
        left: 100px;
    }
}



/*Gotcha page*/
.gotcha {
    background-image: url("/images/Backgrounds/ProfessorOakHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 50px;
    text-align: center;
}

.congrats, .gotcha a {
    background-color: ghostwhite;
    border-radius: 35px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
}

.gotcha span {
    font-size: 1.4em;
}

.gotcha a {
    padding: 5px;
    text-decoration: none;
    color: red;
    font-size: 1.5em;
}

@media screen and (max-width: 650px) { /* voor gsm in breedte*/

    .gotcha .pokeballStar {
        width: 3em;
    }

    .gotcha .star1, .gotcha .star2, .gotcha .star3 {
        width: 1.5em;
    }

    .gotcha .caughtPokemon {
        width: 6em;
    }

    .congrats {
        width: 50%;
    }

    .gotcha .congrats {
        font-size: 0.7em;
    }

    .gotcha h2 {
        font-size: 20px;
    }

    .gotcha a {
        padding: 5px;
        text-decoration: none;
        color: red;
        font-size: 1em;
    }
}
         /* Pokeball star animation */
.animateStars .star1{
    animation: star1 1.25s;
}

.animateStars .star2 {
    animation: star2 1.25s;
}

.animateStars .star3 {
    animation: star3 1.25s;
}

.stars img {
    opacity: 0;
    width: 50px;
    display: inline-block;
}

.caughtPokemon{
    opacity: 0;
    width: 250px;
}

@keyframes star1 {
    0% {
        opacity: 1;
        transform: rotate(0);
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }

    80% {
        opacity: 1;
        transform: rotate(-45deg)scale(1.2);
    }

    100% {
        opacity: 0;
        transform: rotate(-60deg) scale(1);
    }
}

@keyframes star2 {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }

    80% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes star3 {
    0% {
        opacity: 1;
        transform: rotate(0);
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }

    80% {
        opacity: 1;
        transform: rotate(45deg) scale(1.2);
    }

    100% {
        opacity: 0;
        transform: rotate(60deg) scale(1);
    }
}



/*RegisterSuccess page*/
.welcome {
    background-color: ghostwhite;
    padding-bottom: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 50px;
    text-align: center;
}

.welcome a {
    font-family: PokemonGB;
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.welcome img {
    width: 50%;
}

@font-face {
    font-family: PokemonGB;
    src: url('/fonts/Pokemon_GB.ttf');
}


/*ChatWithName page*/
.chat h2 {
    text-align: center;
    font-size: 3.5em;
}

.chat ul li {
    list-style-type: none;
    border-radius: 20px;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.chat ul li p{
    margin-bottom: -15px;
}

.chat .bubble-other p{
    display: inline-block;
}

#speech-bubbles {
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/*#speech-bubbles img {
    height: 150px;
    max-width: 100%;
    padding-top: 10px;
    display: block;
}*/

#speech-bubbles .time {
    font-size: 10px;
    font-style: italic;
}

#speech-bubbles .eersteLetter {
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 40px;
    text-align: center;
    background-color: #4CAF50;
    font-size: 15px;
}

.bubble-me, .bubble-other {
    position: relative;
    border-radius: .4em;
    padding-left: 3%;
    padding-right: 3%;
    word-wrap: break-word;
    font-size: 25px;
}

.bubble-other {
    background: yellowgreen;
    text-align: left;
    margin-bottom: 10px;
}

.bubble-me {
    background: lightskyblue;
    text-align: right;
}

.bubble-me:after, .bubble-other:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 34px solid transparent;
    border-bottom: 0;
    margin-top: -17px;
}

.bubble-other:after {
    left: 0;
    border-right-color: yellowgreen;
    border-left: 0;
    margin-left: -34px;
}

.bubble-me:after {
    right: 0;
    border-left-color: lightskyblue;
    border-right: 0;
    margin-right: -34px;
}

.speechForm {
    margin-bottom: 20px;
    margin-left: 12%;
}

.speechForm textarea {
    border-radius: 20px;
    resize: vertical;
    display: inline-block;
}

.chat .relative {
    position: relative;
}

.speechForm button, .imageSpeechForm button {
    background-color: lightskyblue;
    border: none;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 10%;
}

.speechForm button img {
    width: 3em;
}

.chat .form-control {
    width: 80%;
}

@media screen and (max-width: 650px) { /* voor gsm in breedte*/

    .speechForm button {
        right: 5%;
    }
}

@media screen and (max-width: 360px) { /* voor gsm in breedte*/

    .speechForm button {
        right: 0;
    }
}