html{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  background-image: linear-gradient(#9fb8ad, #718f92, #9fb8ad);
  background-repeat: round;
  background-size: contain;
}

.body-content{
  height: 100vh;
}

.poke-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.pokeview {
  width: 400px;
  min-height: 400px;
  height: auto;
  background-color:#eeeeee;
  border: solid 1px black;
  border-radius: 10%;
  box-shadow: 5px 10px 8px black;
}
.pokeview > h3 {
  text-align: center;
}
.pokelist{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  width: 90%;
  max-height: 50vh;
  border: solid 2px transparent;
  border-radius: 5px;
  background-color: #eeeeee;
}

.pokecell {
  margin: 5px;
  width: 100px;
  height: 100px;
  opacity: 1;
  border: solid 2px black;
  padding: 2px;
  border-radius: 15%;
  transition: opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19), color 450ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.pokecell  img {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.pokecell:hover {
  opacity: 0.5;
  transition: opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19), color 450ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.pokedetail {
  margin: 20px;
  width: 90%;
  height: 90%;
  border: solid 2px transparent;
  background-color: #DFDFE4;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 30% 1fr;
}

.poke-img, .poke-meta {
  border: solid 2px transparent;
  border-radius: 5px;
  margin: 5px;
}

.poke-meta {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
}

.poke-img > img{
  background-color: transparent;
  height: 100%;
  width: 90%;
}

.poke-item {
  border: solid 2px transparent;
  width: 95%;
  margin: 5px;
  padding: 2px;
  font-size: 1.125em;
  box-shadow: 2px 2px rgba(43, 43, 43, 0.301);
}

.pokeview .return {
    font-size: 1.5em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: red;
}

.pokeview .return:hover{
    color: black;
}